.header
  .header__container
    .header__topbox
      .header__topbox__title
        =link_to "OTORIYOSE", root_path
      .header__topbox__input
        = form_with url: items_search_path, method: :get, local: true do |f| 
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "form-control"
          = f.submit "検索", class: "btn btn-primary"
    .header__lowerbox
      .header__lowerbox__nickname
        = "NICKNAME : #{@user.nickname}"
      .header__lowerbox__logbox
        - if user_signed_in?
          = link_to "マイページ", user_path(current_user.id),class: "header__lowerbox__logbox__1"
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__lowerbox__logbox__2"
        - else
          = link_to 'ログイン', new_user_session_path, class: "header__lowerbox__logbox__1"
          = link_to '新規登録', new_user_registration_path, class: "header__lowerbox__logbox__2"