= render "header"

.app-main
  .app-main__content
    .app-main__content__title
      %h1 レビュー一覧
    .app-main__content__review
      .app-main__content__review__box
        - if @reviews.present? 
          - @reviews.each do |review|
            - search_review = RakutenWebService::Ichiba::Item.search(itemCode: review.itemcode).first
            .review-container__box__content
              .review-container__box__content__box1
                .item-image
                  = link_to (image_tag(search_review['mediumImageUrls'][0])), search_review['itemUrl'], target: :_blank
                .item-title
                  = link_to search_review['itemName'], search_review['itemUrl'], target: :_blank
                .item-price
                  %p 商品価格
                  = "¥#{search_review['itemPrice']}円"
                .review-container__box__content__box1--new_review
                  .review-container__box__destroy
                    = link_to "レビュー詳細", review_path(review.id), class: "btn btn-primary btn-lg"
                    - if user_signed_in? && current_user.id == review.user.id
                      = link_to "レビュー削除", "/reviews/#{review.id}", method: :delete, class: "btn btn-danger btn-lg"
              .review-container__box__content__box2
                .review-container__box__content__box2__avater
                  .avater
                    - if review.user.avatar.blank?
                      = image_tag "member_photo_noimage_thumb.png", width: "100px", height: "100px"
                    - else
                      = image_tag review.user.avatar.to_s, width: "100px", height: "100px"
                  .reviewer
                    = "#{review.user.nickname}さん"
                .review-container__box__content__box2__title
                  %p タイトル
                  = review.title
                .review-container__box__content__box2__star
                  %p おいしさ
                  %div{id: "star-delicious#{review.id}"}
                  %p 手軽さ
                  %div{id: "star-eazy#{review.id}"}
                  %p コストパフォーマンス
                  %div{id: "star-cost#{review.id}"}

                  :javascript
                    $('#star-delicious#{review.id}').raty({
                      size: 36,
                      starOff: "#{asset_path('star-off.png')}",
                      starOn: "#{asset_path('star-on.png')}",
                      starHalf: "#{asset_path('star-half.png')}",
                      half: true,
                      readOnly: true,
                      score: "#{review.delicious}"
                    });

                    $('#star-eazy#{review.id}').raty({
                      size: 36,
                      starOff: "#{asset_path('star-off.png')}",
                      starOn: "#{asset_path('star-on.png')}",
                      starHalf: "#{asset_path('star-half.png')}",
                      half: true,
                      readOnly: true,
                      score: "#{review.eazy}"
                    })

                    $('#star-cost#{review.id}').raty({
                      size: 36,
                      starOff: "#{asset_path('star-off.png')}",
                      starOn: "#{asset_path('star-on.png')}",
                      starHalf: "#{asset_path('star-half.png')}",
                      half: true,
                      readOnly: true,
                      score: "#{review.cost}"
                    })
                
                .review-conteiner__box__content__box2__average
                  = "総合評価 : #{((review.delicious + review.eazy + review.cost) / 3).round(1)}点"
                  
          = paginate(@reviews)
        - else
          %h3 レビューした商品がありません。