.app-header
  .app-header__topbox
    .app-header__topbox__title
      %h1 OTORIYOSE
    .app-header__topbox__logbox
      - if user_signed_in?
        = link_to "マイページ", user_path(current_user.id),class: "app-header__topbox__logbox__1"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "app-header__topbox__logbox__2"
      - else
        = link_to 'ログイン', new_user_session_path, class: "app-header__topbox__logbox__1"
        = link_to '新規登録', new_user_registration_path, class: "app-header__topbox__logbox__2"
      
  .app-header__lowerbox
    .app-header__lowerbox__content
      %h1 キーワードでお取り寄せ
    .app-header__lowerbox__input
      = form_with url: items_search_path, method: :get, local: true do |f| 
        = f.text_field :keyword, placeholder: "キーワードから探す", class: "app-header__lowerbox__input__word"
        = f.submit "検索"
.app-main
  .app-main__content
    .app-main__content__title
      %h1 エリアから探す
    .app-main__content__area
      .app-main__content__area__box
        = image_tag 'top_img_tokyo.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "東京 お取り寄せ"
          = f.submit '東京のお取り寄せで検索', class: "app-main__content__area__box__submit"
      .app-main__content__area__box
        = image_tag 'top_img_osaka.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "大阪 お取り寄せ"
          = f.submit '大阪のお取り寄せで検索', class: "app-main__content__area__box__submit"
      .app-main__content__area__box
        = image_tag 'top_img_hokkaido.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "北海道 お取り寄せ"
          = f.submit '北海道のお取り寄せで検索', class: "app-main__content__area__box__submit"
      .app-main__content__area__box
        = image_tag 'top_img_okinawa.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "沖縄 お取り寄せ"
          = f.submit '沖縄のお取り寄せで検索', class: "app-main__content__area__box__submit"

    .app-main__content__title
      %h1 食材から探す
    .app-main__content__area
      .app-main__content__area__box
        = image_tag 'top_img_meet.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "肉 お取り寄せ"
          = f.submit '肉のお取り寄せで検索', class: "app-main__content__area__box__submit"
      .app-main__content__area__box
        = image_tag 'top_img_susi.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "寿司 お取り寄せ"
          = f.submit '寿司のお取り寄せで検索', class: "app-main__content__area__box__submit"
      .app-main__content__area__box
        = image_tag 'top_img_kaisen.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "海鮮 お取り寄せ"
          = f.submit '海鮮のお取り寄せで検索', class: "app-main__content__area__box__submit"
      .app-main__content__area__box
        = image_tag 'top_img_cake.jpg', width: '100px', height: '100px'
        = form_with url: items_search_path, method: :get, local: true do |f|
          = f.hidden_field :keyword, value: "スイーツ お取り寄せ"
          = f.submit 'スイーツのお取り寄せで検索', class: "app-main__content__area__box__submit"


    .app-main__content__title
      %h1 レビューから探す
    .app-main__content__review
      .app-main__content__review__box
        - @items.each do |item|
          
          %table
            %td
              = link_to (image_tag item.imageurl), item.itemurl, target: :_blank
            %td.td-item-name
              %p 商品名
              = item.name
              %br
              %br
              = link_to "商品詳細ページ", item_path(item.id)
            %td.td-item-price
              = "¥#{item.price}円"

      = paginate(@items)











