.app-header

  .app-header__topbox
    .app-header__topbox__title
      %h1 OTORIYOSE
    .app-header__topbox__logbox
      - if user_signed_in?
        = link_to "マイページ", user_path(current_user.id),class: "app-header__topbox__logbox__1"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "app-header__topbox__logbox__2"
      - else
        = link_to 'ログイン', new_user_session_path, class: "app-header__topbox__logbox__1"
        = link_to '新規登録', new_user_registration_path, class: "app-header__topbox__logbox__2"
      
  .app-header__lowerbox
    .app-header__lowerbox__content
      %h1 キーワードでお取り寄せ
    .app-header__lowerbox__input
      = form_with url: items_search_path, method: :get, local: true do |f| 
        = f.text_field :keyword, placeholder: "キーワードから探す", class: "app-header__lowerbox__input__word"
        = f.submit "検索"


.app-main
  .app-main__content
    .app-main__content__title
      %h1 エリアから探す
    .app-main__content__area

      .app-main__content__area__box

    .app-main__content__review
      %h1 レビューから探す
      .app-main__content__review__box

    .form
    .review
      - @items.each do |item|
        = link_to (image_tag item.imageurl), item.itemurl, target: :_blank
        = item.name
        = item.price
        = link_to "商品詳細ページ", item_path(item.id)



  .app-main__right-bar

.app-footer






