= render "header"

.search-view
  - if @items.present? 
    - @items.each do |item|
      .item-box
        %table
          %td.item-box__item-image
            = link_to (image_tag(item['mediumImageUrls'][0])), item['itemUrl'], target: :_blank
          %td.item-box__item-name
            = link_to item['itemName'], item['itemUrl'], target: :_blank
            %br
            %br
            - if user_signed_in?
              = form_with url: items_path, method: :post, local:true do |f|
                = f.hidden_field :name, value: item['itemName']
                = f.hidden_field :discription, value: item['itemCaption']
                = f.hidden_field :price, value: item['itemPrice']
                = f.hidden_field :imageurl, value: item['mediumImageUrls'][0]
                = f.hidden_field :itemurl, value: item['itemUrl']
                = f.submit 'お気に入り登録', class: 'td-submit'
          %td.item-box__item-price
            = "￥#{item['itemPrice']}円"
  - else
    .item-box
      .item-box__log
        %p キーワードが入力されていません
  