= render "shared/header"

.search-view
  - if @items.present? 
    - @items.each do |item|
      .item-box
        %table
          %td.item-box__item-image
            = link_to (image_tag(item['mediumImageUrls'][0])), item['itemUrl'], target: :_blank
          %td.item-box__item-name
            = link_to item['itemName'], item['itemUrl'], target: :_blank
            %br
            %br
            - if user_signed_in?
              = form_with url: new_review_path, method: :get, local: true do |f|
                = f.hidden_field :itemcode, value: item['itemCode']
                = f.submit 'レビューを書く', class: "td-submit"
              = form_with url: items_path, method: :post, local:true do |f|
                = f.hidden_field :itemcode, value: item['itemCode']
                = f.submit 'お気に入り登録', class: 'td-submit'
          %td.item-box__item-price
            = "￥#{item['itemPrice']}円"
  - else
    .item-box
      .item-box__log
        %p キーワードが入力されていません
  