= render "shared/header"
.item-new-main
  .item-new-main__container
    %table.table-bordered
      %tr
        %td{rowspan: "2", class:"item-new-main__item-box__image"}
          = image_tag @search_item['mediumImageUrls'][0], class: "item-new-main__item-box__image__content"
      %tr
        %td.item-new-main__item-box__name
          = @search_item['itemName']
          %br
          = link_to "商品購入ページ", @search_item['itemUrl'], target: :_blank
          - if user_signed_in? && current_user.id == @item.user.id
            = link_to "お気に入り削除", "/items/#{@item.id}", method: :delete
        %td.item-new-main__item-box__price
          = "¥#{@search_item['itemPrice']}円" 
    %table.table-bordered
      %tr
        %td 商品説明
      %tr
        %td.discription
          = @search_item['itemCaption']

    .review-container
      .review-container__box
        .review-container__box__title
          %p レビュー一覧
        - @reviews.each do |review|
          .review-container__box__content
            .review-container__box__content__box1
              .create-at
                = review.created_at.to_date
              .avater-box
                .avater
                  - if review.user.avatar.blank?
                    = image_tag "member_photo_noimage_thumb.png", width: "100px", height: "100px"
                  - else
                    = image_tag review.user.avatar.to_s, width: "100px", height: "100px"
                .reviewer
                  = "#{review.user.nickname}"
              .review-conteiner__box__content__box1__average
                = "総合評価 : #{((review.delicious + review.eazy + review.cost) / 3).round(1)}点"
              .review-container__box__content__box1__title
                %p タイトル
                = review.title
              - if review.content.present?
                .review-container__box__content__box1__content
                  %p レビュー
                  = review.content
              .review-container__box__content__box1__image
                = image_tag "#{review.image}"
            .review-container__box__content__box2
              .review-container__box__content__box2__star
                %p おいしさ
                %div{id: "star-delicious#{review.id}"}
                %p 手軽さ
                %div{id: "star-eazy#{review.id}"}
                %p コストパフォーマンス
                %div{id: "star-cost#{review.id}"}

                :javascript
                  $('#star-delicious#{review.id}').raty({
                    size: 36,
                    starOff: "#{asset_path('star-off.png')}",
                    starOn: "#{asset_path('star-on.png')}",
                    starHalf: "#{asset_path('star-half.png')}",
                    half: true,
                    readOnly: true,
                    score: "#{review.delicious}"
                  });

                  $('#star-eazy#{review.id}').raty({
                    size: 36,
                    starOff: "#{asset_path('star-off.png')}",
                    starOn: "#{asset_path('star-on.png')}",
                    starHalf: "#{asset_path('star-half.png')}",
                    half: true,
                    readOnly: true,
                    score: "#{review.eazy}"
                  })

                  $('#star-cost#{review.id}').raty({
                    size: 36,
                    starOff: "#{asset_path('star-off.png')}",
                    starOn: "#{asset_path('star-on.png')}",
                    starHalf: "#{asset_path('star-half.png')}",
                    half: true,
                    readOnly: true,
                    score: "#{review.cost}"
                  })

              .review-container__box__destroy
                - if user_signed_in? && current_user.id == review.user.id
                  = link_to "レビュー削除", "/reviews/#{review.id}", method: :delete


  = render 'shared/star'