= form_with model: @post, local: true, id: 'new_form' do |f|
  .new_form_image
    = f.fields_for :post_images do |i|
      = i.file_field :image
  .new_form_name
    商品名
    %br
    = f.text_field :title
  .new_form_review
    レビュー
    %br
    = f.text_area :review
  .new_form_price
    値段
    %br
    = f.number_field :price
  .new_form_prefecture
    生産地
    %br
    = f.select :prefecture, Post.prefectures.keys, {include_blank: '選択してください'}
  .new_form_submit
    = f.submit '登録する'